/*borbujas*/
.burbujas div {
  position: absolute;
}

.burbuja {
  /* position: absolute; */
  width: 3px;
  height: 3px;
  border-radius: 50%;
  opacity: 0.3;
  position: fixed;
  z-index: -1;
  bottom: 10px;
  box-shadow: 0 0 10px 4px #ffe268;
  text-align: center;
  animation: burbujas 4s linear infinite;
}

.burbuja:nth-child(1) {
  width: 2px;
  height: 2px;
  left: 4%;
  animation-duration: 13s;
  animation-delay: 4s;
}

.burbuja:nth-child(2) {
  width: 2px;
  height: 2px;
  left: 5%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.burbuja:nth-child(3) {
  width: 2px;
  height: 2px;
  left: 8%;
  animation-duration: 11s;
  animation-delay: 2s;
}
.burbuja:nth-child(4) {
  width: 2px;
  height: 2px;
  left: 11%;
  animation-duration: 10s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 2px;
  height: 2px;
  left: 14%;
  animation-duration: 13s;
  animation-delay: 4s;
}
.burbuja:nth-child(6) {
  width: 2px;
  height: 2px;
  left: 17%;
  animation-duration: 12s;
  animation-delay: 3s;
}

.burbuja:nth-child(7) {
  width: 2px;
  height: 2px;
  left: 20%;
  animation-duration: 11s;
  animation-delay: 2s;
}

.burbuja:nth-child(8) {
  width: 2px;
  height: 2px;
  left: 22%;
  animation-duration: 10s;
  animation-delay: 1s;
}
.burbuja:nth-child(9) {
  width: 2px;
  height: 2px;
  left: 25%;
  animation-duration: 13s;
  animation-delay: 4s;
}

.burbuja:nth-child(10) {
  width: 2px;
  height: 2px;
  left: 28%;
  animation-duration: 12s;
  animation-delay: 5s;
}

.burbuja:nth-child(11) {
  width: 2px;
  height: 2px;
  left: 31%;
  animation-duration: 11s;
  animation-delay: 2s;
}
.burbuja:nth-child(12) {
  width: 2px;
  height: 2px;
  left: 34%;
  animation-duration: 10s;
  animation-delay: 1s;
}
.burbuja:nth-child(13) {
  width: 2px;
  height: 2px;
  left: 37%;
  animation-duration: 13s;
  animation-delay: 3s;
}
.burbuja:nth-child(14) {
  width: 2px;
  height: 2px;
  left: 40%;
  animation-duration: 12s;
  animation-delay: 1s;
}
.burbuja:nth-child(15) {
  width: 2px;
  height: 2px;
  left: 43%;
  animation-duration: 11s;
  animation-delay: 2s;
}
.burbuja:nth-child(16) {
  width: 2px;
  height: 2px;
  left: 46%;
  animation-duration: 10s;
  animation-delay: 1s;
}
.burbuja:nth-child(17) {
  width: 2px;
  height: 2px;
  left: 49%;
  animation-duration: 13s;
  animation-delay: 5s;
}
.burbuja:nth-child(18) {
  width: 2px;
  height: 2px;
  left: 52%;
  animation-duration: 12s;
  animation-delay: 3s;
}

.burbuja:nth-child(19) {
  width: 2px;
  height: 2px;
  left: 55%;
  animation-duration: 11s;
  animation-delay: 4s;
}
.burbuja:nth-child(20) {
  width: 2px;
  height: 2px;
  left: 53%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.burbuja:nth-child(21) {
  width: 2px;
  height: 2px;
  left: 56%;
  animation-duration: 13s;
  animation-delay: 2s;
}
.burbuja:nth-child(22) {
  width: 2px;
  height: 2px;
  left: 59%;
  animation-duration: 12s;
  animation-delay: 3s;
}

.burbuja:nth-child(23) {
  width: 2px;
  height: 2px;
  left: 61%;
  animation-duration: 11s;
  animation-delay: 2s;
}

.burbuja:nth-child(24) {
  width: 2px;
  height: 2px;
  left: 64%;
  animation-duration: 10s;
  animation-delay: 1s;
}
.burbuja:nth-child(25) {
  width: 2px;
  height: 2px;
  left: 67%;
  animation-duration: 13s;
  animation-delay: 2s;
}

.burbuja:nth-child(26) {
  width: 2px;
  height: 2px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 3s;
}

.burbuja:nth-child(27) {
  width: 2px;
  height: 2px;
  left: 73%;
  animation-duration: 11s;
  animation-delay: 2s;
}
.burbuja:nth-child(28) {
  width: 2px;
  height: 2px;
  left: 76%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.burbuja:nth-child(29) {
  width: 2px;
  height: 2px;
  left: 79%;
  animation-duration: 13s;
  animation-delay: 4s;
}

.burbuja:nth-child(30) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 82%;
  animation-duration: 12s;
  animation-delay: 3s;
}
.burbuja:nth-child(31) {
  width: 2px;
  height: 2px;
  left: 85%;
  animation-duration: 11s;
  animation-delay: 2s;
}

.burbuja:nth-child(32) {
  width: 2px;
  height: 2px;
  left: 88%;
  animation-duration: 12s;
  animation-delay: 1s;
}

.burbuja:nth-child(33) {
  width: 2px;
  height: 2px;
  left: 91%;
  animation-duration: 13s;
  animation-delay: 4s;
}

.burbuja:nth-child(34) {
  width: 2px;
  height: 2px;
  left: 94%;
  animation-duration: 12s;
  animation-delay: 1s;
}

.burbuja:nth-child(35) {
  width: 2px;
  height: 2px;
  left: 92%;
  animation-duration: 12s;
  animation-delay: 1s;
}

.burbuja:nth-child(36) {
  width: 2px;
  height: 2px;
  left: 10%;
  animation-duration: 12s;
  animation-delay: 1s;
}

.burbuja:nth-child(37) {
  width: 2px;
  height: 2px;
  left: 13%;
  animation-duration: 9s;
  animation-delay: 1s;
}

.burbuja:nth-child(38) {
  width: 2px;
  height: 2px;
  left: 15%;
  animation-duration: 11s;
  animation-delay: 1s;
}

.burbuja:nth-child(39) {
  width: 2px;
  height: 2px;
  left: 18%;
  animation-duration: 8s;
  animation-delay: 1s;
}

.burbuja:nth-child(40) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 19%;
  animation-duration: 10s;
  /* /* animation-delay: 1s; */
}

.burbuja:nth-child(41) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 20%;
  animation-duration: 8s;
  /* /* animation-delay: 1s; */
}
.burbuja:nth-child(42) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 21%;
  animation-duration: 8s;
  animation-delay: 1s;
}
.burbuja:nth-child(43) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 22%;
  animation-duration: 7s;
  animation-delay: 1s;
}

.burbuja:nth-child(44) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 39%;
  animation-duration: 10s;
  /* /* animation-delay: 1s; */
}

.burbuja:nth-child(45) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 40%;
  animation-duration: 8s;

  /* /* animation-delay: 1s; */
}
.burbuja:nth-child(46) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 42%;
  animation-duration: 8s;
  animation-delay: 1s;
}
.burbuja:nth-child(47) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 32%;
  animation-duration: 7s;
  animation-delay: 1s;
}
/*  */

.burbuja:nth-child(48) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 43%;
  animation-duration: 10s;
}

.burbuja:nth-child(49) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 44%;
  animation-duration: 7s;
  animation-delay: 1s;
}
.burbuja:nth-child(50) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 45%;
  animation-duration: 8s;
  animation-delay: 1s;
}
.burbuja:nth-child(51) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 46%;
  animation-duration: 7s;
  animation-delay: 1s;
}

/*  */

.burbuja:nth-child(52) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 50%;
  animation-duration: 10s;
}

.burbuja:nth-child(53) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 44%;
  animation-duration: 7s;
  animation-delay: 1s;
}
.burbuja:nth-child(54) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 45%;
  animation-duration: 8s;
  animation-delay: 1s;
}
.burbuja:nth-child(55) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 49%;
  animation-duration: 7s;
  animation-delay: 1s;
}
/*  */
.burbuja:nth-child(56) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 64%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.burbuja:nth-child(57) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 68%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.burbuja:nth-child(58) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 60%;
  animation-duration: 13s;
  animation-delay: 1s;
}
.burbuja:nth-child(59) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 80%;
  animation-duration: 11s;
  animation-delay: 1s;
}

.burbuja:nth-child(60) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 49%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.burbuja:nth-child(61) {
  position: fixed;
  width: 2px;
  height: px;
  left: 90%;
  animation-duration: 8s;
  animation-delay: 1s;
}

.burbuja:nth-child(62) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 94%;
  animation-duration: 9s;
  animation-delay: 1s;
}

.burbuja:nth-child(62) {
  position: fixed;
  width: 2px;
  height: 2px;
  left: 80%;
  animation-duration: 7s;
  animation-delay: 1s;
}
/* ANIMACION FOTO */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #25cbdd;
  }
}
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.h2 {
  position: relative;
  color: #2d2e32;
  width: 100%;
  font-size: 25px;
  /* border: solid 2px red; */
  text-transform: uppercase;
}

.h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #ccc;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 5px solid #ffb037;
  overflow: hidden;
  animation: animate 8s linear infinite;
  /* border: solid 2px red; */
}

@keyframes animate {
  0% {
    width: 0;
  }
  70%,
  90% {
    width: 80%;
  }
}
.color-change-2x {
  -webkit-animation: color-change-4x 5s linear infinite alternate both;
  animation: color-change-3x 8s linear infinite alternate both;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0.9;
    background: #ffb037;
  }
  20% {
    opacity: 0.8;

    background: #ffb037;
  }
  100% {
    bottom: 50rem;
    opacity: 0.7;
    background: #ffe268;
  }
}
