.cuerpo-formulario {
  position: relative;
  top: 15px;
  background-color: #25262a;
  box-shadow: 5px 5px 15px 5px #2f5d62;
  /* border: solid 3px #2058be; */
  /* font-family: "Red Hat Mono", monospace; */
}
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}
.user_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 40px;
}

.user_info input[type="button"] {
  width: 180px;
  background: #2f5d62;
  border: none;
  border-radius: 25px;
  align-self: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.user_info input[type="button"]:hover {
  background: #ffb037;
}
.info-user {
  /* background: #364547; */
  position: relative;
}
.user_info textarea,
.user_info input {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #d1d1d1;
  color: #5a5a5a;
  font-size: 18px;
}

.formulario::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 0px 5px;
  background: #364547;
  opacity: 0.8;
}

.formulario {
  position: relative;
  display: flex;
  /* top: 10px; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/fotito.jpg");
  background-size: cover;
  background-position: center center;
}
.formulari h2 {
  /* color: #ffb037; */
}

.formulario > * {
  position: relative;
  /* z-index: 2; */
  color: #fff;
  font-family: "Red Hat Mono", monospace;
}
