body {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: "Abyssinica SIL", serif;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  position: fixed;
  min-width: 100%;
  z-index: 1;
  background-color: #f5f6f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.header-logo h1 {
  color: #66bfbf;
  font-weight: bold;
  justify-self: center;
  font-size: 3rem;
  margin-left: 9rem;
  font-family: "Passions Conflict", cursive;
}

.header-list {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: center;
}
.header-list ul {
  display: flex;
  align-items: center;
}

.header-list ul li {
  margin-right: 5rem;
  border-bottom: solid;
  border-color: transparent;
  transition: all 0.7s ease;
}
.header-list ul li a {
  list-style: none;
  text-decoration: none;
  color: #3a4750;
}
.header-list ul li.active {
  border-bottom: solid;
  border-color: #66bfbf;
  opacity: 1;
  color: #66bfbf;
}
.header-list ul li:hover {
  border-bottom: solid;
  border-color: #66bfbf;
}
/* section donde el nomre decorativo */
.container-name {
  position: relative;
  top: 8rem;
  left: 0;
  right: 0;
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-name h1 {
  font-family: "Passions Conflict", cursive;
  color: #66bfbf;
  font-size: 5rem;
}
/* ///////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////
/////////////////////////////////////////// */

.containerProyecto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
  margin-top: 9rem;
}
.imgProyect {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(30, 204, 227, 0.5);
  transition: all 3s ease;
  font-family: "Abyssinica SIL", serif;
}

.imgProyect:hover {
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.imgProyect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textProyecto {
  position: absolute;
  cursor: pointer;
  padding: 2rem;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #66bfbf;
  transition: all 0.5s ease;
  opacity: 0;
  text-align: center;
}
.textProyecto:hover {
  opacity: 1;
}

.textProyecto:hover > h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.textProyecto p {
  color: #000303;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.textProyecto a {
  text-align: center;
  width: 10rem;
  border: transparent;
  color: #000303;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #fff;
}
.textProyecto span {
  border: transparent;
  color: #ffffff;
}
/* foder */
.contenedorFoder {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 40vh;
  right: 0px;
  left: 0;

  background-color: #3a4750;
}

.link span {
  background-color: #ffffff;
  color: #0a66c2;
  border-radius: 4px;
}

.contenedorFoder h5 {
  font-size: 3rem;
  color: #f5f6f7;
}
.fooderIcono span {
  text-decoration: none;
  margin: 1rem;
  font-size: 5rem;
  border-radius: 10%;
  background-color: #ffffff;
}
.fooderIcono a {
  text-decoration: none;
  color: #060606;
  border: solid red 2px;
}
.footerIconos {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
  color: #f5f6f7;
}
