body {
  /* background-color: #ffffff; */
  color: #3a4750;
  background-color: #eaeaea;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: "Abyssinica SIL", serif;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  position: fixed;
  min-width: 100%;
  z-index: 1;
  background-color: #f5f6f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.header-logo h1 {
  color: #66bfbf;
  font-weight: bold;
  justify-self: center;
  font-size: 3rem;
  margin-left: 9rem;
  font-family: "Passions Conflict", cursive;
}

.header-list {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: center;
}
.header-list ul {
  display: flex;
  align-items: center;
}

.header-list ul li {
  margin-right: 5rem;
  border-bottom: solid;
  border-color: transparent;
  transition: all 0.7s ease;
}
.header-list ul li a {
  list-style: none;
  text-decoration: none;
  color: #3a4750;
}
.header-list ul li.active {
  border-bottom: solid;
  border-color: #1b9e9e;
  opacity: 1;
  color: #1b9e9e;
}
.header-list ul li:hover {
  border-bottom: solid;
  border-color: #1b9e9e;
}
/* TEXTO DECORATIVO TORCO */
.container-name {
  position: relative;
  top: 10rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-name h1 {
  font-family: "Passions Conflict", cursive;
  color: #1b9e9e;
  font-size: 6rem;
}

/* section de text home  */
/* ////////////////////////////
/////////////////// */
.container-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  padding: 2rem;
  margin-top: 20rem;
}
.containerA-text {
  display: grid;
  grid-template: repeat(2, 1fr);
}

.text {
  justify-self: center;
  align-self: center;
  padding: 2rem;
  color: #333;
}
.text h2 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000303;
}
.text p {
  display: flex;
  justify-content: center;
  color: #333;
}

.text h5 {
  font-size: 1.9rem;
}

/* SECION DE HOME BOTONES */
.containerA-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerA-botones a {
  width: 15rem;

  margin: auto;
  color: #fff;
  background-color: #1b9e9e;
  border: transparent;
  font-size: 2rem;
}
/* SECION DE FOTOS DE HOME */
/* //////////////////////
////////////// */

.containerB-foto {
  display: grid;
  grid-template: repeat(2, 1fr);
  gap: 3rem;
}

.containerDiv-foto {
  display: grid;
  justify-items: center;
  align-content: center;
  font-weight: bold;
  color: #000303;
}
.containerDiv-foto img {
  border-radius: 50%;
  width: 50%;
  padding: 1rem;
}

.containerDiv-foto h4 {
  font-weight: bold;
  color: #1b9e9e;
  font-size: 2rem;
}
.containerDiv-foto h2 {
  font-weight: bold;
}
/* proyect */
/* /////////////////////
//////////////////////
////////////////////// */

.containerProyecto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
  margin-top: 20rem;
}

.imgProyect2 {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(11, 11, 11, 0.9);
  transition: all 0.3s ease;
  font-family: "Abyssinica SIL", serif;
}

.imgProyect2:hover {
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.imgProyect2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textProyecto2 {
  background-color: #000303;
  position: absolute;
  cursor: pointer;
  padding: 2rem;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  text-align: center;
}

.textProyecto2:hover {
  opacity: 1;
  transition: all 500ms ease-out;
}
.textProyecto2:hover > h3 {
  transition: all 0.5s ease;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}

.textProyecto2 p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.textProyecto2 a {
  text-align: center;
  width: 10rem;
  border: transparent;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #fff;
}
.textProyecto2 span {
  border: transparent;
  color: #66bfbf;
}

.textProyecto2 h3 {
  margin-bottom: 100px;
  transition: all 100ms ease-out;
}

/* este es habilidades */
/* /////////////////////
////////////////////////
/////////////////// */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
  margin-top: 20rem;
  /* padding: 20px; */
}
.img {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img img {
  width: 100%;
  height: 100%;
  transition: all 3s ease;
}
.capa span {
  /* color: #d96098; */
  color: #66bfbf;
}
.capa {
  position: absolute;
  cursor: pointer;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000303;
  transition: all 500ms ease-out;
  opacity: 0;
  text-align: center;
}
.img .capa:hover {
  opacity: 1;
  filter: grayscale(0%);
}
.img .capa:hover > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.img .capa h3 {
  color: #66bfbf;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 100px;
  transition: all 500ms ease-out;
  margin-top: 20px;
  text-transform: uppercase;
}
.img .capa p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.3;
  width: 100%;
  max-width: 220px;
  margin: auto;
}
/* /////////////////////
////////////// */

.containerSobreMi {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-top: 10rem;
  background-color: #eaeaea;
  padding: 20%;
  font-size: 3rem;
  font-family: "Abyssinica SIL", serif;
}
.containerSobreMi h3 {
  color: #66bfbf;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.containerSobreMi p {
  font-weight: bold;
}
/* footer  */
/* /////////////////////////////
  /////////////////////////////
  //////////////// */
.contenedorFoder {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 31vh;
  right: 0px;
  left: 0;

  background-color: #3a4750;
}

.link span {
  background-color: #ffffff;
  color: #0a66c2;
  border-radius: 4px;
}

.contenedorFoder h5 {
  font-size: 3rem;
  color: #f5f6f7;
}
.fooderIcono span {
  text-decoration: none;
  margin: 1rem;
  font-size: 5rem;
  border-radius: 10%;
  background-color: #ffffff;
}
.fooderIcono a {
  text-decoration: none;
  color: #060606;
}
.footerIconos {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
  color: #f5f6f7;
}
