body {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: "Abyssinica SIL", serif;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  position: fixed;
  min-width: 100%;
  z-index: 1;
  background-color: #f5f6f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.header-logo h1 {
  color: #1b9e9e;
  font-weight: bold;
  justify-self: center;
  font-size: 3rem;
  margin-left: 9rem;
  font-family: "Passions Conflict", cursive;
}

.header-list {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: center;
}
.header-list ul {
  display: flex;
  align-items: center;
}

.header-list ul li {
  margin-right: 5rem;
  border-bottom: solid;
  border-color: transparent;
  transition: all 0.7s ease;
}
.header-list ul li a {
  list-style: none;
  text-decoration: none;
  color: #3a4750;
}
.header-list ul li.active {
  border-bottom: solid;
  /* border-color: #66bfbf; */
  opacity: 1;
  color: #1b9e9e;
}
.header-list ul li:hover {
  border-bottom: solid;
  border-color: #1b9e9e;
}
/* TEXTO DECORATIVO TORCO */
.container-name {
  position: relative;
  top: 10rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-name h1 {
  font-family: "Passions Conflict", cursive;
  color: #1b9e9e;
  font-size: 4rem;
}

/* INFORMACION DE HOME TEXTO, Y FOTO*/
/* /////////////////////////////
/////////////////////////////////////
//////////////////////////////////////
////////////////////////////////// */

.container-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  padding: 2rem;
  margin-top: 20rem;
}

.containerA-text {
  display: grid;
  grid-template: repeat(2, 1fr);
}

.text {
  justify-self: center;
  align-self: center;
  padding: 2rem;
}

.text h2 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000303;
}

.text p {
  display: flex;
  justify-content: center;
}

.text h5 {
  font-size: 1.9rem;
}

/* SECION DE HOME BOTONES */

.containerA-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerA-botones a {
  width: 15rem;

  margin: auto;
  color: #fff;
  background-color: #1b9e9e;

  border: transparent;
  font-size: 2rem;
}

/* SECION DE FOTOS DE HOME */
.containerB-foto {
  display: grid;
  grid-template: repeat(2, 1fr);
  gap: 3rem;
}

.containerDiv-foto {
  display: grid;
  justify-items: center;
  align-content: center;
  font-weight: bold;
  color: #000303;
}

.containerDiv-foto img {
  border-radius: 50%;
  width: 50%;
  padding: 1rem;
}

.containerDiv-foto h4 {
  font-weight: bold;
  color: #1b9e9e;
  font-size: 2rem;
}
.containerDiv-foto h2 {
  font-weight: bold;
}
/* SECCION DE LA PAGINA PROYECTOS */
/* //////////////////////////////
////////////////////////////////////
//////////////////////////////////////
//////////////////////// */

.containerProyecto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
  margin-top: 20rem;
}
.imgProyect {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
  transition: all 3s ease;
  font-family: "Abyssinica SIL", serif;
}

.imgProyect:hover {
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.imgProyect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textProyecto {
  position: absolute;
  cursor: pointer;
  padding: 2rem;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #1b9e9e;

  transition: all 0.5s ease;
  opacity: 0;
  text-align: center;
}
.textProyecto:hover {
  opacity: 1;
}

.textProyecto:hover > h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
  text-transform: uppercase;
  color: #090909;
}
.textProyecto p {
  color: #f0f8f8;
  font-size: 1.8rem;
  line-height: 1.5;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.textProyecto a {
  text-align: center;
  width: 10rem;
  border: transparent;
  color: #090909;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #fff;
}
.textProyecto span {
  border: transparent;
  color: #ffffff;
}

/* SECCION DE HABILIDADE */
/* /////////////////////////////////
//////////////////////////////////////
///////////////////// */

.containerTecnologias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  margin-top: 20rem;
}
.tecnolog .card {
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(17, 188, 210, 0.5);
  font-size: 1.5rem;
}
.tecnolog .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #1b9e9e;
  transition: all 500ms ease-out;
}

.tecnolog .card:hover h3 {
  transition: all 500ms ease-out;
  color: #fff;
}
.tecnolog .card:hover > .iconos {
  border: 2px solid #edf6f6;
  background-color: #ffffff;
  transition: all 500ms ease-out;
}

.tecnolog:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-out;
  transform: scale(1.2);
  z-index: 5;
}
.tecnolog h3 {
  font-weight: bold;
  color: #14bfbf;
}
.containerTecnologias .iconos {
  display: flex;
  object-fit: cover;
  padding: 1.3rem;
  overflow: hidden;
  border: 2px solid #66bfbf;
  place-self: center stretch;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 3s ease;
}
.iconos img {
  width: 6rem;
}

.tapIcon h2 {
  padding: 1rem;
  font-weight: bold;
}

.tapIcon {
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 1rem;
  border-radius: 5px;
}
/* SECCION SERCA DE MI */
/* /////////////////////////////////////
////////////////////////////////////// */
.containerSobreMi {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-top: 20rem;
  padding: 40%;
}
.containerSobreMi h3 {
  color: #1b9e9e;
  font-weight: bold;
}
.containerSobreMi p {
  font-weight: bold;
}

/* ////////////////////////////
//////////////////// */

.contenedorFoder {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 31vh;
  right: 0px;
  left: 0;

  background-color: #3a4750;
}

.link span {
  background-color: #ffffff;
  color: #0a66c2;
  border-radius: 4px;
}

.contenedorFoder h5 {
  font-size: 3rem;
  color: #f5f6f7;
}
.fooderIcono span {
  text-decoration: none;
  margin: 1rem;
  font-size: 5rem;
  border-radius: 10%;
  background-color: #ffffff;
}
.fooderIcono a {
  text-decoration: none;
  color: #060606;
}
.footerIconos {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
  color: #f5f6f7;
}
