body {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: "Abyssinica SIL", serif;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

/* section the header */
.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  position: fixed;
  min-width: 100%;
  z-index: 1;

  background-color: #f5f6f7;
}
.header-espanol {
  background-color: #66bfbf;
  color: #ffffff;
}

.header-logo h1 {
  color: #66bfbf;
  font-weight: bold;
  justify-self: center;
  font-size: 5rem;
  font-family: "Passions Conflict", cursive;
}
.header-logo2 h1 {
  color: #ffffff;
  font-weight: bold;
  justify-self: center;
  font-size: 5rem;
  font-family: "Passions Conflict", cursive;
}
.header-list {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: center;
}

.header-list ul {
  display: flex;
  align-items: center;
}

.header-list ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 3rem;
  border-bottom: solid;
  border-color: transparent;
  transition: all 0.7s ease;
}

.header-list ul li.active {
  border-bottom: solid;
  border-color: #66bfbf;
  /* border-color: #ffffff; */
  opacity: 1;
}

.header-list ul li:hover {
  border-bottom: solid;
  border-color: #66bfbf;
  /* border-color: #ffffff; */
}

.header-spano ul li.actives {
  border-bottom: solid;
  /* border-color: #66bfbf; */
  border-color: #ffffff;
  opacity: 1;
}

.header-spano ul li:hover {
  border-bottom: solid;
  /* border-color: #66bfbf; */
  border-color: #ffffff;
}
/* section de container verde con nombre */

.container-name {
  position: relative;
  top: 9rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-name2 {
  position: relative;
  top: 8rem;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: #66bfbf; */
}

.container-name2 h1 {
  font-family: "Passions Conflict", cursive;
  color: #3a4750;
  font-size: 4rem;
}

.container-name h1 {
  font-family: "Passions Conflict", cursive;
  color: #66bfbf;
  font-size: 4rem;
}

/* section donde la información */

.container-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.containerA-text {
  display: grid;
  grid-template: repeat(2, 1fr);
}

.text {
  justify-self: center;
  align-self: center;
  padding: 2rem;
}

.text h2 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.text p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h5 {
  font-weight: bold;
  font-size: 1.6rem;
}

/* section donde van los botones */

.containerA-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerA-botones a {
  width: 10rem;
  margin: 2rem;
  background-color: #66bfbf;
  border: transparent;
  font-size: 1.5rem;
}

/* section donde van la foto */
.containerB-foto {
  display: grid;
  grid-template: repeat(2, 1fr);
  gap: 3rem;
}

.containerDiv-foto {
  display: grid;
  justify-items: center;
  align-content: center;
  font-weight: bold;
}

.containerDiv-foto img {
  border-radius: 50%;
  width: 50%;
  padding: 1rem;
}

.containerDiv-foto h4 {
  font-weight: bold;
}

.index-trabajo {
  display: none;
}

/* container donde van los proyecto */
.continerProyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  background-color: #f5f6f7;
  z-index: 5;
}

.continerProyectos h5 {
  font-weight: bold;
  font-size: 1.5rem;
}
.continerProyectos span {
  color: #66bfbf;
  font-weight: bold;
  /* font-size: 2rem; */
}

.continerProyectos .boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.continerProyectos a {
  width: 10rem;
  margin: 2rem;
  background-color: #66bfbf;
  border: transparent;
  font-size: 1.5rem;
}

/* section de classes manejadas con javascript */
/* el va sosteniendo las pestaña o tab */

.contenedor-taps {
  position: relative;
  top: 10rem;
  /* border: solid red 3px; */
  height: 100vh;
}

.taps.active {
  transition: all 5s ease;
  display: block;
}

/* .taps.actives {
  transition: all 5s ease;
  display: block;
} */
/* .index  */
.taps {
  position: absolute;
  display: none;
  transition: all 5s ease;

  background-color: #f5f6f7;
  top: 0;
  left: 0;
  padding: 1rem;
  /* height: 60vh; */
}

/* section de las tecnologías */
.containerTecnologias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  /* border: solid 2px #0a66c2; */
}
.tecnolog .card {
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.tecnolog .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #66bfbf;
  transition: all 500ms ease-out;
}
.tecnolog .card:hover > .iconos {
  border: 2px solid #edf6f6;
  background-color: #ffffff;
  transition: all 500ms ease-out;
}

.tecnolog:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-out;
  transform: scale(1.2);
  z-index: 5;
}
.tecnolog h3 {
  font-weight: bold;
}

.containerTecnologias .iconos {
  display: flex;
  object-fit: cover;
  padding: 1.3rem;
  overflow: hidden;
  border: 2px solid #66bfbf;
  place-self: center stretch;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 3s ease;
}
.iconos img {
  width: 6rem;
}

.tapIcon h2 {
  padding: 1rem;
  font-weight: bold;
}

.tapIcon {
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 1rem;
  border-radius: 5px;
}
/* sobre mi */
.containerSobreMi {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.containerSobreMi h3 {
  color: #66bfbf;
  font-weight: bold;
}
.containerSobreMi p {
  font-weight: bold;
}
.containerSobreMi span {
  color: #66bfbf;
  font-weight: bold;
}
/* container sobre fooder */
.contenedorFoder {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 4rem;
  right: 0px;
  left: 0;
}

.link span {
  background-color: #ffffff;
  color: #0a66c2;
  border-radius: 4px;
}

.contenedorFoder h5 {
  color: #3a4750;
  font-size: 2rem;
}
.fooderIcono span {
  text-decoration: none;
  margin: 1rem;
  font-size: 4rem;
}
.fooderIcono a {
  text-decoration: none;
  color: #3a4750;
}
.footerIconos {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
}
/* HABILIDADES DE ESPANOL  */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img img {
  width: 100%;
  height: 100%;
  transition: all 3s ease;
}
.capa {
  position: absolute;
  cursor: pointer;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 500ms ease-out;
  opacity: 0;
  text-align: center;
}
.img .capa:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.img .capa:hover > h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.img .capa h3 {
  color: #66bfbf;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 100px;
  transition: all 500ms ease-out;
  margin-top: 20px;
  text-transform: uppercase;
}
.img .capa p {
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.3;
  width: 100%;
  max-width: 220px;
  margin: auto;
}
