body {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: "Abyssinica SIL", serif;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

/* SECTION THE PAGES INGLES HEADER */
.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  position: fixed;
  min-width: 100%;
  z-index: 1;
  height: 5rem;
  background-color: #f5f6f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header-logo h1 {
  color: #66bfbf;
  font-weight: bold;
  justify-self: center;
  font-size: 3rem;
  font-family: "Passions Conflict", cursive;
}

.header-list {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: center;
}

.header-list ul {
  display: flex;
  align-items: center;
}

.header-list ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 3rem;
  border-bottom: solid;
  border-color: transparent;
  transition: all 0.7s ease;
}

.header-list ul li.active {
  border-bottom: solid;
  border-color: #66bfbf;
  opacity: 1;
}

.header-list ul li:hover {
  border-bottom: solid;
  border-color: #66bfbf;
}

/* section de container verde con nombre */

.container-name {
  position: relative;
  top: 8rem;
  left: 0;
  right: 0;
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #66bfbf; */
}

.container-name h1 {
  font-family: "Passions Conflict", cursive;
  color: #66bfbf;
  font-size: 4rem;
}

/* section donde la información */

.container-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.containerA-text {
  display: grid;
  grid-template: repeat(2, 1fr);
}

.text {
  justify-self: center;
  align-self: center;
  padding: 2rem;
}

.text h2 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000303;
}

.text p {
  display: flex;
  justify-content: center;
}

.text h5 {
  font-size: 1.9rem;
}

/* section donde van los botones */

.containerA-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerA-botones a {
  width: 10rem;
  margin: 2rem;
  color: #fff;
  background-color: #66bfbf;
  border: transparent;
  font-size: 1.5rem;
}

/* section donde van la foto */
.containerB-foto {
  display: grid;
  grid-template: repeat(2, 1fr);
  gap: 3rem;
}

.containerDiv-foto {
  display: grid;
  justify-items: center;
  align-content: center;
  font-weight: bold;
  color: #000303;
}

.containerDiv-foto img {
  border-radius: 50%;
  width: 50%;
  padding: 1rem;
}

.containerDiv-foto h4 {
  font-weight: bold;
  color: #66bfbf;
  font-size: 2rem;
}
.containerDiv-foto h2 {
  font-weight: bold;
}

/* section de classes manejadas con javascript */
/* el va sosteniendo las pestaña o ta COMPARTEN CON ESPANOL*/

.contenedor-taps {
  position: relative;
  top: 10rem;
  height: 100vh;
}

.taps.active {
  transition: all 5s ease;
  display: block;
}

.taps {
  position: absolute;
  display: none;
  transition: all 5s ease;
  background-color: #f5f6f7;
  top: 0;
  left: 0;
  padding: 1rem;
}

/* section de las tecnologías ingles */
.containerTecnologias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}
.tecnolog .card {
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(17, 188, 210, 0.5);
  font-size: 1.5rem;
}

.tecnolog .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #66bfbf;
  transition: all 500ms ease-out;
}

.tecnolog .card:hover h3 {
  transition: all 500ms ease-out;
  color: #fff;
}
.tecnolog .card:hover > .iconos {
  border: 2px solid #edf6f6;
  background-color: #ffffff;
  transition: all 500ms ease-out;
}

.tecnolog:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-out;
  transform: scale(1.2);
  z-index: 5;
}
.tecnolog h3 {
  font-weight: bold;
  color: #14bfbf;
}

.containerTecnologias .iconos {
  display: flex;
  object-fit: cover;
  padding: 1.3rem;
  overflow: hidden;
  border: 2px solid #66bfbf;
  place-self: center stretch;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 3s ease;
}
.iconos img {
  width: 6rem;
}

.tapIcon h2 {
  padding: 1rem;
  font-weight: bold;
}

.tapIcon {
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 1rem;
  border-radius: 5px;
}
/* SECTION SOBRE MI ESTA COMPARTIDA CON ESPANOL*/
.containerSobreMi {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.containerSobreMi h3 {
  color: #66bfbf;
  font-weight: bold;
}
.containerSobreMi p {
  font-weight: bold;
}

/* SECTION DEL FOODER COMPARTIDO ESPANOL */
.contenedorFoder {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 4rem;
  right: 0px;
  left: 0;
}

.link span {
  background-color: #ffffff;
  color: #0a66c2;
  border-radius: 4px;
}

.contenedorFoder h5 {
  color: #3a4750;
  font-size: 2rem;
}
.fooderIcono span {
  text-decoration: none;
  margin: 1rem;
  font-size: 4rem;
}
.fooderIcono a {
  text-decoration: none;
  color: #3a4750;
}
.footerIconos {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
}

/* SECTION THE PAGES SPANISH HEADER */
.header-espanol {
  background-color: #66bfbf;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header-logo2 h1 {
  color: #ffffff;

  font-weight: bold;
  justify-self: center;
  font-size: 3rem;
  font-family: "Passions Conflict", cursive;
}
.header-spano ul li.actives {
  border-bottom: solid;
  border-color: #ffffff;
  opacity: 1;
}

.header-spano ul li:hover {
  border-bottom: solid;
  border-color: #ffffff;
}
/* SECTION WHERE GO NAME */
.container-name2 {
  position: relative;
  top: 8rem;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f7;
}

.container-name2 h1 {
  font-family: "Passions Conflict", cursive;
  color: #000303;
  font-size: 4rem;
}

/* SECTION DE JAVASCRIPT ESPANOL */

.taps2.actives {
  transition: all 5s ease;
  display: block;
}
.taps2 {
  position: absolute;
  display: none;
  transition: all 5s ease;
  background-color: #f5f6f7;
  top: 0;
  left: 0;
  padding: 1rem;
}

/* HABILIDADES DE ESPANOL */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img img {
  width: 100%;
  height: 100%;
  transition: all 3s ease;
}

.capa span {
  /* color: #d96098; */
  color: #66bfbf;
}
.capa {
  position: absolute;
  cursor: pointer;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000303;
  transition: all 500ms ease-out;
  opacity: 0;
  text-align: center;
}
.img .capa:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.img .capa:hover > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.img .capa h3 {
  color: #66bfbf;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 100px;
  transition: all 500ms ease-out;
  margin-top: 20px;
  text-transform: uppercase;
}
.img .capa p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.3;
  width: 100%;
  max-width: 220px;
  margin: auto;
}
/*  PROYECTOS DE ESPANOL  */

.containerProyecto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
}
.imgProyect {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(17, 188, 210, 0.5);
  transition: all 3s ease;
  font-family: "Abyssinica SIL", serif;
}

/* proyecto espana;l */

.imgProyect2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(11, 11, 11, 0.9);
  transition: all 0.3s ease;
  font-family: "Abyssinica SIL", serif;
}
.imgProyect2 img {
  width: 100%;
  height: 100%;
  transition: all 3s ease;
}
.textProyecto2 {
  position: absolute;
  cursor: pointer;
  padding: 1rem;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #000303;
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease;
}

.textProyecto2:hover > h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #66bfbf;
  transition: all 0.5s ease;
}

.textProyecto2:hover {
  opacity: 1;
  transition: all 500ms ease-out;
}

.textProyecto2 h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 100px;
  transition: all 100ms ease-out;
  text-transform: uppercase;
}
.textProyecto2 p {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.textProyecto2 a {
  text-align: center;
  width: 5rem;
  border: transparent;
  font-size: 1.2rem;
  margin-top: 1rem;
  background-color: #fff;
}
.textProyecto2 span {
  color: #66bfbf;
}

/* termina */

.imgProyect:hover {
  z-index: 5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
}

.imgProyect img {
  width: 100%;
  height: 100%;
}
.textProyecto {
  position: absolute;
  cursor: pointer;
  padding: 1rem;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: #66bfbf;
  transition: all 0.5s ease;
  opacity: 0;
  text-align: center;
}
.textProyecto:hover {
  opacity: 1;
}

.textProyecto:hover > h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.textProyecto h3 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 100px;
  transition: all 400ms ease-out;
  text-transform: uppercase;
}
.textProyecto p {
  color: #000303;
  font-size: 1.5rem;
  line-height: 1;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.textProyecto a {
  text-align: center;
  width: 5rem;
  border: transparent;
  color: #000303;
  font-size: 1.2rem;
  margin-top: 1rem;
  background-color: #fff;
}
.textProyecto span {
  border: transparent;
  color: #ffffff;
}
