boddy {
  background-color: bisque;
}
.containerProyecto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
  justify-items: center;
  align-content: center;
}
.imgProyect {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: "Abyssinica SIL", serif;
}
.imgProyect img {
  width: 100%;
  height: 100%;
  transition: all 3s ease;
}
.textProyecto {
  position: absolute;
  cursor: pointer;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 500ms ease-out;
  opacity: 0;
  text-align: center;
}
.textProyecto:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.textProyecto:hover > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.textProyecto h3 {
  color: #66bfbf;
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 100px;
  transition: all 400ms ease-out;
  text-transform: uppercase;
}
.textProyecto p {
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 1;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

.textProyecto a {
  text-align: center;
  width: 5rem;
  height: 30px;
  background-color: #fff;
  border: transparent;
  color: #66bfbf;
  font-size: 0.8rem;
  margin-top: 20px;
}
.textProyecto span {
  color: #66bfbf;
  border: transparent;
  /* font-size: 1rem; */
  /* margin-top: 10px; */
}
