body {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 1.3rem;
  /* font-family: "Red Hat Mono", monospace; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Abyssinica SIL", serif;
}
html {
  font-size: 62.5%;
}
.cuartela {
  background-color: #66bfbf;
  background-color: #808b97;
  color: #808b97;
}
/* container colores */
.colorContainer {
  width: 100%;
  height: 10vh;
  background-color: #66bfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 3rem;
  font-family: "Passions Conflict", cursive;
}
/* section the header */

.header-logo {
  color: #66bfbf;
  font-family: "Passions Conflict", cursive;
}

.header-list {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: flex-end;
}
.header-list ul {
  display: flex;
  align-items: center;
}
.header-list ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 30px;
  /* border: 1px solid #3a4750; */
}

.header-list ul li:hover {
  color: #66bfbf;
}
.container-text {
  display: grid;
  grid-template: repeat(1, 400px) / repeat(2, 50%);
  gap: 20px;
}
.container-text div {
  border: solid 1px red;
}
.inicioB-foto {
  color: #66bfbf;
  font-size: 30px;
  font-family: "Passions Conflict", cursive;
}
.inicioB-foto img {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: solid 1px rgb(61, 55, 55);
}
