body {
  background-color: #ffffff;
  color: #3a4750;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: "Abyssinica SIL", serif;
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

/* section the header */
.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  position: fixed;
  min-width: 100%;
  z-index: 1;
  background-color: #f5f6f7;
}

.header-logo h1 {
  color: #66bfbf;
  font-weight: bold;
  justify-self: center;
  font-size: 5rem;
  font-family: "Passions Conflict", cursive;
}

.header-list {
  display: grid;
  grid-template: repeat(2, 1fr);
  justify-content: center;
}

.header-list ul {
  display: flex;
  align-items: center;
}

.header-list ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 3rem;
  border-bottom: solid;
  border-color: transparent;
  transition: all 0.7s ease;
}

.header-list ul li.active {
  border-bottom: solid;
  border-color: #66bfbf;
  opacity: 1;
}

.header-list ul li:hover {
  border-bottom: solid;
  border-color: #66bfbf;
}

/* section de container verde con nombre */

.colorContainerName {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.container-name {
  position: relative;
  top: 8rem;
}

.colorContainerName h1 {
  display: flex;
  justify-content: center;
  font-family: "Passions Conflict", cursive;
  color: #66bfbf;
  font-size: 4rem;
  font-weight: bold;
}

/* section donde la información */

.container-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.containerA-text {
  display: grid;
  grid-template: repeat(2, 1fr);
}

.text {
  justify-self: center;
  align-self: center;
  padding: 2rem;
}

.text h2 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}

.text p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h5 {
  font-weight: bold;
  font-size: 1.6rem;
}

/* section donde van los botones */

.containerA-botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerA-botones a {
  width: 10rem;
  margin: 2rem;
  background-color: #66bfbf;
  border: transparent;
  font-size: 1.5rem;
}

/* section donde van la foto */
.containerB-foto {
  display: grid;
  grid-template: repeat(2, 1fr);
  gap: 1rem;
}

.containerDiv-foto {
  display: grid;
  justify-items: center;
  align-content: center;
  font-weight: bold;
}

.containerDiv-foto img {
  border-radius: 50%;
  width: 50%;
  padding: 1rem;
}

.containerDiv-foto h4 {
  font-weight: bold;
}

.index-trabajo {
  display: none;
}

/* container donde van los proyecto */
.continerProyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.continerProyectos h5 {
  font-weight: bold;
  font-size: 1.5rem;
}
.continerProyectos span {
  color: #66bfbf;
  font-weight: bold;
  /* font-size: 2rem; */
}

.continerProyectos .boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.continerProyectos a {
  width: 10rem;
  margin: 2rem;
  background-color: #66bfbf;
  border: transparent;
  font-size: 1.5rem;
}

/* section de classes manejadas con javascript */
/* el va sosteniendo las pestaña o tab */

.contenedor {
  position: relative;
  top: 10rem;
}

.index.active {
  transition: all 0.8s ease;
  display: block;
}
.index {
  position: absolute;
  display: none;
  transition: all 0.5s ease;
  padding: 1rem;
  background-color: #f5f6f7;
}

/* section de las tecnologías */
.containerTecnologias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}
.tecnolog .card {
  padding: 1rem;
}
.tecnolog h3,
h5 {
  font-weight: bold;
}
.containerTecnologias .iconos {
  display: flex;
  object-fit: cover;
  padding: 1.3rem;
  overflow: hidden;
  border: 2px solid #66bfbf;
  place-self: center stretch;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
}
.iconos img {
  width: 6rem;
}

.tapIcon h2 {
  padding: 1rem;
  font-weight: bold;
}

.tapIcon {
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 1rem;
  border-radius: 5px;
}
/* sobre mi */
.containerSobreMi {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.containerSobreMi h3 {
  color: #66bfbf;
  font-weight: bold;
}
.containerSobreMi p {
  font-weight: bold;
}
.containerSobreMi span {
  color: #66bfbf;
  font-weight: bold;
}
/* container sobre fooder */
.contenedorFoder {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 4rem;
  right: 0px;
  left: 0;
}

.link span {
  background-color: #ffffff;
  color: #0a66c2;
  border-radius: 4px;
}

.contenedorFoder h5 {
  color: #3a4750;
  font-size: 2rem;
}
.fooderIcono span {
  text-decoration: none;
  margin: 1rem;
  font-size: 4rem;
}
.fooderIcono a {
  text-decoration: none;
  /* color: #293138; */
  /* color: #3a4750; */
}
.footerIconos {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
}
